
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/custom.css" />

@model IEnumerable<GASF.Models.CourseGrade>

@{
    ViewData["Title"] = "Index";
}

<center>

    <div class="titlupag">Course Grades</div>

</center>

<div class="btn">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BonusPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGraduated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BonusPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGraduated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseGradeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseGradeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseGradeId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
