
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/custom.css" />

@model GASF.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<center>

    <div class="titlupag_detalii">Details Teacher</div>

</center>
<div class="camp1">
    <div class="camp_detalii">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CNP)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CNP)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MailAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Birthday)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Birthday)
            </dd>
        </dl>
    </div>
</div>

<div class="btn">
    <a asp-action="Edit" asp-route-id="@Model.TeacherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
